<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Training::top_level" title="Training" module="Training_BasicModule" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Training_BasicModule::training_basicmodule_employees" title="employees" module="Training_BasicModule" sortOrder="9999" resource="Magento_Backend::content" parent="Training::top_level" action="training_basicmodule/employees/index"/>
	</menu>
</config>
