<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="training_basicmodule" id="training_basicmodule">
			<module before="Magento_Backend" name="Training_BasicModule"/>
		</route>
	</router>
</config>
